<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="css/header.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
	<link href="css/about.css" rel="stylesheet">
	<link href="css/landing-page.css" rel="stylesheet">
	
	
	<!--  js source -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	
	<!--  custom js -->
	<script src="js/indexController.js"></script>
	
	
	<title>Sigin Up</title>

</head>
<body ng-app="app" ng-controller="signupCtrl">

	<!--  header  -->
	<div ng-include="'header.html'"></div><br><br>
	
	<!-- form to register -->
	<div class="container">
		<form name = "signupForm" novalidate>
			<h1>Sigin Up</h1>
			<br>
				
			<table class="newproject">
			<tr>
				<td>
					<!--  first name field -->
				 	<div class="form-group">
	 					<label>First Name:</label>
						<input name="firstname" type="text" ng-model="user.firstname" class="form-control" onclick="this.select()" ng-maxlength="100" required>
					</div>
				</td>
				<td>
					<p ng-show="signupForm.firstname.$error.required"> First name is required! </p>
					<p ng-show="signupForm.firstname.$error.maxlength"> Your name is too long, max length is 100. </p>
					
				</td>
			</tr>
			<tr>
				<td>
					<!--  last name field -->
				 	<div class="form-group">
						<label>Last Name:</label>
						<input name="lastname" type="text" ng-model="user.lastname" class="form-control" onclick="this.select()" ng-maxlength="100" required></input>
					</div>
				</td>
				<td>
					<p ng-show="signupForm.lastname.$error.required"> Last name is required! </p>
					<p ng-show="signupForm.lastname.$error.maxlength"> Your name is too long, max length is 100	. </p>
				</td>
			</tr>
			<tr>
				<td>
					<!--  email -->
				 	<div class="form-group">
						<label>Email:</label>
						<input name="email" type="email" ng-model="user.email" class="form-control" onclick="this.select()" ng-maxlength="100" required>
					</div>
				</td>
				<td>
					<p ng-show="signupForm.email.$error.required">Email is required!</p>
					<p ng-show="signupForm.email.$error.email">Invalid email!</p>
					<p ng-show="signupForm.email.$error.maxlength">Your email is too long, max length is 100.</p>
				</td>
			</tr>
			<tr>
				<td> 
					<!-- username -->
				   	<div class="form-group">
						<label>Username:</label>
						<input name="username" type="text" ng-model="user.username" ng-pattern="usernamePattern" class="form-control" onclick="this.select()" ng-maxlength="100" required>
					</div>
				</td>
				<td>
					<p ng-show="signupForm.username.$error.required">Username is required!</p>
					<p ng-show="signupForm.username.$error.pattern">Username can only have numbers and letters!</p>
					<p ng-show="signupForm.username.$error.maxlength"> Your username is too long, max length is 100. </p>
				</td>
			</tr>
			<tr>
				<td> 
					<!-- password -->
					<div class="form-group">
						<label>Password:</label>
						<input name="password" type="password" ng-model="user.password" class="form-control" onclick="this.select()" ng-minlength="8" ng-maxlength="100" required>
					</div>
				</td>
				<td>
					<p ng-show="signupForm.password.$error.required">Password is required!</p>
					<p ng-show="signupForm.password.$error.minlength"> Your password is too short, minimum length is 8</p>
					<p ng-show="signupForm.password.$error.maxlength"> Your password is too long, max length is 100.</p>
				</td>
			</tr>
			<tr>
				<td>
					<!--  submit button -->
					<button type="submit"  class="btn btn-lg btn-primary btn-block" ng-disabled="signupForm.$invalid" ng-click="submit()">Sign Up</button>
				</td>
			</tr>
			</table>
		</form>	
	</div>
	
</body>
</html>