<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Bootstrap core CSS -->
	<link href="http://localhost:8080/ProManageREST/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="http://localhost:8080/ProManageREST/css/header.css" rel="stylesheet">
	<link href="http://localhost:8080/ProManageREST/css/home.css" rel="stylesheet">
	<link href="http://localhost:8080/ProManageREST/css/about.css" rel="stylesheet">
	<link href="http://localhost:8080/ProManageREST/css/landing-page.css" rel="stylesheet">
	
	
	<!--  js source -->
	<script src="http://localhost:8080/ProManageREST/js/jquery-1.11.0.js"></script>
	<script src="http://localhost:8080/ProManageREST/js/bootstrap.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	
	<!--  custom js -->
	<script src="http://localhost:8080/ProManageREST/js/indexController.js"></script>
	
	
	<title>Sigin Up</title>

</head>
<body ng-app="app" ng-controller="signupCtrl">

	<!--  header  -->
	<div ng-include="'header.html'"></div><br><br>
	
	<!-- form to register -->
	<div class="container">    
		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
			<div class="panel panel-info" >
				<div class="panel-heading"><div class="panel-title">Sign Up</div></div>     
	
				<div style="padding-top:30px" class="panel-body" >
                            
					<form name="signupForm" class="form-horizontal" role="form">
                         
                        <!--  first name field -->       
						<div class="form-group">
						
							<label class="control-label col-sm-3" for="firstname">First Name:</label>
							<div class="col-sm-9">
								<input name="firstname" type="text" ng-model="user.firstname" class="form-control" onclick="this.select()" ng-maxlength="100" required>
							</div>
							
							<!-- error messages -->
							<h6 class="col-sm-3"></h6>
							<h6 class="col-sm-9" ng-show="signupForm.firstname.$error.required"> First name is required! </h6>
							<h6 class="col-sm-9" ng-show="signupForm.firstname.$error.maxlength"> Your name is too long, max length is 100. </h6>
       					</div>
       					
       					 <!--  last name field -->       
						<div class="form-group">
						
							<label class="control-label col-sm-3" for="firstname">Last Name:</label>
							<div class="col-sm-9">
								<input name="lastname" type="text" ng-model="user.lastname" class="form-control" onclick="this.select()" ng-maxlength="100" required>
							</div>
							
							<!-- error messages -->
							<h6 class="col-sm-3"></h6>
							<h6 class="col-sm-9" ng-show="signupForm.lastname.$error.required"> Last name is required! </h6>
							<h6 class="col-sm-9" ng-show="signupForm.lastname.$error.maxlength"> Your name is too long, max length is 100. </h6>
       					</div>

       					 <!--  email field -->       
						<div class="form-group">
							<label class="control-label col-sm-3" for="email">Email:</label>
							<div class="col-sm-9">
								<input name="email" type="email" ng-model="user.email" class="form-control" onclick="this.select()" ng-maxlength="100" required>
							</div>
							
							<!-- error messages -->
							<h6 class="col-sm-3"></h6>
							<h6 class="col-sm-9" ng-show="signupForm.email.$error.required">Email is required!</h6>
							<h6 class="col-sm-9" ng-show="signupForm.email.$error.email">Invalid email!</h6>
							<h6 class="col-sm-9" ng-show="signupForm.email.$error.maxlength">Your email is too long, max length is 100.</h6>
       					</div>
       					
       					<!--  username field -->     
						<div class="form-group">
							<label class="control-label col-sm-3" for="username">Username:</label>
							<div class="col-sm-9">
       							<input name="username" type="text" ng-model="user.username" ng-pattern="usernamePattern" class="form-control" onclick="this.select()" ng-maxlength="100" required>
							</div>
							
							<!-- error messages -->
							<h6 class="col-sm-3"></h6>
							<h6 class="col-sm-9" ng-show="signupForm.username.$error.required">Username is required!</h6>
							<h6 class="col-sm-9" ng-show="signupForm.username.$error.pattern">Username can only have numbers and letters!</h6>
							<h6 class="col-sm-9" ng-show="signupForm.username.$error.maxlength"> Your username is too long, max length is 100. </h6>
       					</div>
       					
       					<!--  password field -->     
						<div class="form-group">
							<label class="control-label col-sm-3" for="password">Password:</label>
							<div class="col-sm-9">
       							<input name="password" type="password" ng-model="user.password" class="form-control" onclick="this.select()" ng-minlength="8" ng-maxlength="100" required>
							</div>
							
							<!-- error messages -->
							<h6 class="col-sm-3"></h6>
							<h6 class="col-sm-9" ng-show="signupForm.password.$error.required">Password is required!</h6>
							<h6 class="col-sm-9" ng-show="signupForm.password.$error.minlength"> Your password is too short, minimum length is 8</h6>
							<h6 class="col-sm-9" ng-show="signupForm.password.$error.maxlength"> Your password is too long, max length is 100.</h6>
       					</div>
       					       					
						<!-- sign up button -->
						<div style="margin-top:50px" class="form-group">
 							<div class="col-sm-12 controls">
 								<a href="" class="navbar-button btn btn-large btn-primary pull-right">Sign Up </a>
							</div>
						</div>

					</form>     

				</div>                     
			</div>  
		</div>
	</div>
	
</body>
</html>