<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="local">
    <environment id="local">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <!-- 
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        -->
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://manage2.csdw3zyugikr.us-west-2.rds.amazonaws.com:3306/cs673"/>
        <property name="username" value="cs673_user"/>
        <property name="password" value="cs673"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="sqlmaps/project.xml"/>
    <mapper resource="sqlmaps/user.xml"/>
    <mapper resource="sqlmaps/story.xml"/>
    <mapper resource="sqlmaps/task.xml"/>
    <mapper resource="sqlmaps/member.xml"/>
  </mappers>
</configuration>