<!--  form to create a task -->
<div id="loginbox" style="margin-top: 50px;"
	class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">New Task</div>
		</div>
		<div style="padding-top: 30px" class="panel-body">
			<form name="taskForm" class="form-horizontal" role="form">
			
				<!-- name field -->
				<div class="form-group">
					<label for="name" class="control-label col-sm-3">Name:</label>
					<div class="col-sm-9">
						<input name="name" type="text" ng-model="task.name" class="form-control" onclick="this.select()" ng-maxlength="45" required>
					</div>
					
					<!-- error messages -->
					<h6 class="col-sm-3"></h6>
					<h6 class="col-sm-9" ng-show="taskForm.name.$error.required"> Name is required! </h6>
					<h6 class="col-sm-9" ng-show="taskForm.name.$error.maxlength"> Name is too long, max length is 45. </h6>
				</div>

				<!-- description field -->
				<div class="form-group">
					<label for="description" class="col-sm-3 control-label">Description:</label>
					<div class="col-sm-9">
						<textarea name="description" type="text" ng-model="task.description" class="form-control" onclick="selectText()" ng-maxlength="200" required></textarea>
					</div>
				
					<!-- error messages -->
					<h6 class="col-sm-3"></h6>
					<h6 class="col-sm-9" ng-show="taskForm.description.$error.required"> Description is required! </h6>
					<h6 class="col-sm-9" ng-show="taskForm.description.$error.maxlength"> Description is too long, max length is 200.</h6>
				</div>

				<!-- due date field -->
				<div class="form-group">
					<label for="duedate" class="col-sm-3 control-label">Due
						Date:</label>
					<div class="col-sm-9">
						<input name="dueDate" type="date" placeholder="yyyy-MM-dd" ng-model="task.dueDate" class="form-control" onclick="this.select()" required>
					</div>
					
					<!-- error messages -->
					<h6 class="col-sm-3"></h6>
					<h6 class="col-sm-9" ng-show="taskForm.dueDate.$error.required">Due date is required!</h6>
					<h6 class="col-sm-9" ng-show="taskForm.dueDate.$error.date">Invalid date!</h6>
				</div>

				<!-- assign too field -->
				<div class="form-group">
					<label for="assigned" class="col-sm-3 control-label">Assign to: </label>
					<div class="col-sm-9">
						<select class="form-control" id="assigned" ng-model="owner"
							ng-options="member.username for member in members"></select>
					</div>
				</div>


				<!-- buttons -->
				<div style="margin-top:50px" class="pull-right">

					<!--  cancel button -->
					<a ng-click="cancel()" class ="btn btn-primary" type="button">Cancel</a>
					
					<!--  reset button -->
					<button type="button" ng-click="reset()" class="btn btn-primary pull-rigth">Reset</button>
	
					<!--  submit button -->
					<button type="submit" ng-click="submit()" class="btn btn-primary pull-rigth" ng-disabled="taskForm.$invalid">Submit</button>
	
				</div>

			</form>
		</div>
	</div>
</div>
