
<div class="container">

	<form class="form-horizontal" name="newForm" method="POST"
		ng-submit="newForm.$valid && submit()">
		<div>
			<div class="page-header">

				<h1>New Story</h1>
			</div>
			<div>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" required focus id="name"
							ng-model="story.name" placeholder="Name">
					</div>
				</div>


				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="5" id="description"
							ng-model="story.description" placeholder="Description" required></textarea>
					</div>
				</div>


				<div class="form-group">
					<label for="duedate" class="col-sm-2 control-label">Due
						date</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" required id="duedate"
							ng-model="story.dueDate" placeholder="mm/dd/yyyy">
					</div>
				</div>

				<!-- 				<div> -->
				<!-- 					<div class="form-group"> -->
				<!-- 						<label for="asignee" class="col-sm-2 control-label">Assign -->
				<!-- 							Task to: </label> -->
				<!-- 						<div class="col-sm-10"> -->
				<!-- 							<select class="form-control" id="assigned" -->
				<!-- 								ng-model="story.owner" -->
				<!-- 								ng-options="user.name for user in users"></select> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->

				<!-- ** not implemented ** -->

				<!-- 				<div class="form-group"> -->
				<!-- 					<label for="notify" class="col-sm-2 control-label">Notify</label> -->
				<!-- 					<div class="col-sm-10"> -->
				<!-- 						<select class="form-control" id="notify" -->
				<!-- 							ng-model="selected_notify" -->
				<!-- 							ng-options="user.name for user in users"></select> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<!-- 				<div class="form-group"> -->
				<!-- 					<label for="exampleInputFile" class="col-sm-2 control-label">Attach -->
				<!-- 						file</label> -->
				<!-- 					<div class="col-sm-10"> -->
				<!-- 						<input type="file" class="form-control" id="inputFile"> -->
				<!-- 					</div> -->
				<!-- 				</div> -->

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
