
<!-- form to create a story -->
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
		<div class="panel panel-info" >
			<div class="panel-heading"><div class="panel-title">New Story</div></div>     

			<div style="padding-top:30px" class="panel-body" >
                           
				<form name="storyForm" class="form-horizontal" role="form">
                        
					<!-- name field -->       
					<div class="form-group">
					
						<label class="control-label col-sm-3" for="name">Name:</label>
						<div class="col-sm-9">
							<input name="name" type="text" ng-model="story.name" class="form-control" onclick="this.select()" ng-maxlength="45" required>
						</div>
						
						<!-- error messages -->
						<h6 class="col-sm-3"></h6>
						<h6 class="col-sm-9" ng-show="storyForm.name.$error.required"> Name is required! </h6>
						<h6 class="col-sm-9" ng-show="storyForm.name.$error.maxlength"> Name is too long, max length is 45. </h6>
      				</div>
      					
      				 <!--  description field -->       
					<div class="form-group">
					
						<label class="control-label col-sm-3" for="description">Description:</label>
						<div class="col-sm-9">
							<textarea name="description" type="text" ng-model="story.description" class="form-control" id="txtarea" onclick="selectText()" ng-maxlength="200" required></textarea>
						</div>
						
						<!-- error messages -->
						<h6 class="col-sm-3"></h6>
						<h6 class="col-sm-9" ng-show="storyForm.description.$error.required"> Description is required! </h6>
						<h6 class="col-sm-9" ng-show="storyForm.description.$error.maxlength"> Description is too long, max length is 200.</h6>
			
      				</div>

      				<!--  due date field -->       
					<div class="form-group">
						<label class="control-label col-sm-3" for="dueDate">Due Date:</label>
						<div class="col-sm-9">
							<input name="dueDate" type="date" placeholder="yyyy-MM-dd" ng-model="story.dueDate" class="form-control" onclick="this.select()" required>
						</div>
						
						<!-- error messages -->
						<h6 class="col-sm-3"></h6>
						<h6 class="col-sm-9" ng-show="storyForm.dueDate.$error.required">Due date is required!</h6>
						<h6 class="col-sm-9" ng-show="storyForm.dueDate.$error.date">Invalid date!</h6>
      				</div>
      					       					
					<!-- buttons -->
					<div style="margin-top:50px" class="pull-right">
	
						<!--  cancel button -->
						<a ng-click="cancel()" class ="btn btn-primary" type="button">Cancel</a>
						
						<!--  reset button -->
						<button type="button" ng-click="reset()" class="btn btn-primary pull-rigth">Reset</button>
		
						<!--  submit button -->
						<button type="submit" ng-click="submit()" class="btn btn-primary pull-rigth" ng-disabled="storyForm.$invalid">Submit</button>
		
					</div>

				</form>     

			</div>                     
		</div>  
	</div>

