


<!-- Modal  Story -->
<div class="modal fade modalNewStory" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true"></div>


<!-- Modal  Task -->
<div class="modal fade modalNewTask" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel2" aria-hidden="true"></div>

<div class="container">

	<!-- button to create new story -->
	<a ng-click="openModalNewSotry(-1)"><span
		class="navbar-button btn btn-large btn-primary pull-right">New
			Story</span> </a>
	<div class="page-header">

		<!--  Project name and button to see members page -->
		<h2 class="content-title">
			{{project.name}} <a href="#/members/{{project.idproject}}"
				class="navbar-button btn btn-xs btn-default" type="button">Members</a>
		</h2>

		<!--  display project description -->
		<h6>{{project.description}}</h6>

	</div>

	<div class="row">
		<div class="col-md-4" ng-repeat="stat in project.status">
			<fieldset>
				<legend>{{stat.name}}</legend>

				<div class="panel-group" id="{{stat.name}}accordion"
					ng-repeat="userStory in stat.userStories">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a id="title{{userStory.id}}" data-toggle="collapse"
									data-parent="#{{stat.name}}accordion"
									href=".{{stat.name}}userStory{{$index}}"
									ng-click="acord(userStory.id,$parent.$index,$index)"
									class="collapsed">{{userStory.name}} ({{userStory.dueDate |
									date:'shortDate'}}) </a> <a href=""
									ng-click="updateStatus($parent.$index,$index)"> <span
									ng-class="{'glyphicon-play': stat.name == 'Backlog' , 'glyphicon-ok': stat.name == 'Current'}"
									class="glyphicon  pull-right"></span>
								</a>


							</h4>
						</div>
						<div
							class="{{stat.name}}userStory{{$index}} panel-collapse collapse">
							<div class="panel-body">
								<p>{{userStory.description}}</p>
								<img id="spinner{{userStory.id}}" ng-src="../images/loader.gif"
									style="display: none;" height="100" width="100">
								<div class="panel-group" id="{{stat.name}}accordionTask"
									ng-repeat="task in userStory.tasks">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse"
													data-parent="#{{stat.name}}accordionTask"
													href=".{{stat.name}}{{$parent.$index}}{{$index}}task">{{task.name}}
													- User 1 - (11/22/14)</a>
											</h4>
										</div>

										<div
											class="{{stat.name}}{{$parent.$index}}{{$index}}task panel-collapse collapse">
											<div class="panel-body">
												<p>{{task.description}}</p>
												<button ng-show="{{stat.name!='Done'}}" type="button"
													class="btn btn-default btn-sm pull-right">Edit</button>

											</div>
										</div>
									</div>
								</div>
								<div class="pull-right">

									<a ng-show="{{stat.name!='Done'}}" type="button"
										class="btn btn-default"
										ng-click="openModalNewSotry(userStory.id)">Edit Story</a>
									<button ng-show="{{stat.name=='Backlog'}}" ng-click="open()"
										type="button" class="btn btn-default" data-toggle="modal"
										data-target=".modalNewTask">New Task</button>
								</div>
							</div>
						</div>

					</div>
				</div>

			</fieldset>

		</div>

	</div>

</div>