
<!-- form to create a new project -->
<div class="container">

	<h2>Create a Project</h2>
	<form role="form">
		<table class="newproject">
		<tr>
			<td>
				<!--  name field -->
				<div class="form-group">
 					<label>Name:</label>
					<input id="name" type="text" ng-model="user.name" class="form-control">
				</div>
			</td>
			<td>
				<p id="errorMsgName">{{nameMsg}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<!--  description field -->
				<div class="form-group">
					<label>Description:</label>
					<textarea id="description" type="text" ng-model="user.description" class="form-control"></textarea>
				</div>
			</td>
			<td>
				<p id="errorMsgDesc">{{descriptionMsg}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<!--  start date field -->
				<div class="form-group">
					<label>Start Date:</label>
					<input id="startDate" type="text" placeholder="mm/dd/yyyy" ng-model="user.startdate" class="form-control">
				</div>
			</td>
			<td>
				<p id="errorMsgStartDate">{{startDateMsg}}</p>
			</td>
		</tr>
		<tr>
			<td> 
				<!-- end date field -->
				<div class="form-group">
					<label>End Date:</label>
					<input id="endDate"  type="text" placeholder="mm/dd/yyyy" ng-model="user.enddate" class="form-control">
				</div>
			</td>
			<td>
				<p id="errorMsgEndDate">{{endDateMsg}}</p>
			</td>
		</tr>
		<tr>
			<td>
				<!--  submit button -->
				<button id="submitbtn" type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
	
				<!--  reset button -->
				<button type="button" ng-click="reset()" class="btn btn-default">Reset</button>

				<!--  cancel button -->
				<a href = "home.html" class = "btn btn-default" type="button">Cancel</a>
			</td>
		</tr>
		</table>
	</form>	
</div>
