
<!-- form to create a new project -->
<div class="container">

	<h2>Create a Project</h2>
	<form name = "projectForm" novalidate>
		<table class="newproject">
		<tr>
			<td>
				<!--  name field -->
				<div class="form-group">
 					<label>Name:</label>
					<input name="name" type="text" ng-model="user.name" class="form-control" required>
				</div>
			</td>
			<td>
				<p ng-show="projectForm.name.$error.required"> Name is required! </p>
			</td>
		</tr>
		<tr>
			<td>
				<!--  description field -->
				<div class="form-group">
					<label>Description:</label>
					<textarea name="description" type="text" ng-model="user.description" class="form-control" required></textarea>
				</div>
			</td>
			<td>
				<p ng-show="projectForm.description.$error.required"> Description is required! </p>
			</td>
		</tr>
		<tr>
			<td>
				<!--  start date field -->
				<div class="form-group">
					<label>Start Date:</label>
					<input name="startDate" type="date" placeholder="yyyy-MM-dd" ng-model="user.startdate" class="form-control" required>
				</div>
			</td>
			<td>
				<p ng-show="projectForm.startDate.$error.required">Start date is required!</p>
				<p ng-show="projectForm.startDate.$error.date">Invalid date!</p>
			</td>
		</tr>
		<tr>
			<td> 
				<!-- end date field -->
				<div class="form-group">
					<label>End Date:</label>
					<input name="endDate" type="date" placeholder="yyyy-MM-dd" ng-model="user.enddate" class="form-control" required>
				</div>
			</td>
			<td>
				<p ng-show="projectForm.endDate.$error.required">End date is required!</p>
				<p ng-show="projectForm.endDate.$error.date">Invalid date!</p>
			</td>
		</tr>
		<tr>
			<td>
				<!--  submit button -->
				<button type="submit" ng-click="submit()" class="btn btn-default" ng-disabled="projectForm.$invalid">Submit</button>
	
				<!--  reset button -->
				<button type="button" ng-click="reset()" class="btn btn-default">Reset</button>

				<!--  cancel button -->
				<a href = "home.html" class = "btn btn-default" type="button">Cancel</a>
			</td>
		</tr>
		</table>
	</form>	
</div>
