<!DOCTYPE html>
<html>
	
<head>
	<title> Projects </title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	
	<!-- css source --> 
	<link href = "../css/bootstrap.min.css" rel = "stylesheet">
	<link href = "../css/home.css" rel = "stylesheet">

	<!--  js source -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src = "../js/bootstrap.js"></script>
	<script src = "../js/formController.js"></script>
	<script src="../js/jquery-1.11.0.js"></script>
	
	<script>
	$(function() {
		$("#header").load("header.html");
	});
	</script>
</head>

<body>
	
	<div id="header"></div>

	<!-- form to create a new project -->
	<div class="container">
		<div ng-app="" ng-controller="formController">

			<h2>Create a Project</h2>
			<form role="form">
			
				<!--  name field -->
				<div class="form-group">
 					<label>Name:</label>
					<input type="text" ng-model="user.name" class="form-control" id="id">
				</div>
		
				<!--  description field -->
				<div class="form-group">
					<label>Description:</label>
					<textarea type="text" ng-model="user.description" class="form-control" id="descpt"></textarea>
				</div>
		
				<!--  start date field -->
				<div class="form-group">
					<label>Start Date:</label>
					<input type="date" ng-model="user.startDate" class="form-control" id="descpt">
				</div>
				
				<!-- end date field -->
				<div class="form-group">
					<label>End Date:</label>
					<input type="date" ng-model="user.endDate" class="form-control" id="descpt">
				</div>
		
				<!--  submit button -->
				<button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
		
				<!--  cancel button -->
				<a href = "home.html" class = "btn btn-default" type="button">Cancel</a>
			</form>	
		</div>
	</div>
		
</body>

</html>