


<!-- Modal  Story -->
<div class="modal fade modalNewStory" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true"></div>


<!-- Modal  Task -->
<div class="modal fade modalNewTask" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel2" aria-hidden="true"></div>

<div class="container">


	<div class="page-header">
		<h1>
			Project 1 <a href=""><span
				class="btn btn-default btn-lg pull-right" data-toggle="modal"
				data-target=".modalNewStory">New Story</span> </a>
		</h1>
	</div>



	<div class="row">
		<div class="col-md-4" ng-repeat="stat in project.status">
			<fieldset>
				<legend>{{stat.name}}</legend>

				<div class="panel-group" id="{{stat.name}}accordion"
					ng-repeat="userStory in stat.userStories">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#{{stat.name}}accordion"
									href=".{{stat.name}}userStory{{$index}}">{{userStory.name}}
									( 11/22/14 )</a> <a href=""><span
									ng-class="{'glyphicon-play': stat.name == 'Backlog' , 'glyphicon-ok': stat.name == 'Current'}"
									class="glyphicon  pull-right"></span></a>


							</h4>
						</div>
						<div
							class="{{stat.name}}userStory{{$index}} panel-collapse collapse">
							<div class="panel-body">
								<p>{{userStory.description}}</p>



								<div class="panel-group" id="{{stat.name}}accordionTask"
									ng-repeat="task in userStory.tasks">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse"
													data-parent="#{{stat.name}}accordionTask"
													href=".{{stat.name}}task{{$index}}">{{task.name}} -
													User 1 - (11/22/14)</a>
											</h4>
										</div>
										<div
											class="{{stat.name}}task{{$index}} panel-collapse collapse">
											<div class="panel-body">
												<p>{{task.description}}</p>
												<button ng-show="{{stat.name!='Done'}}" type="button"
													class="btn btn-default btn-sm pull-right">Edit</button>

											</div>
										</div>
									</div>
								</div>
								<div class="pull-right">

									<button ng-show="{{stat.name!='Done'}}" type="button"
										class="btn btn-default ">Edit Story</button>
									<button ng-show="{{stat.name=='Backlog'}}" type="button"
										class="btn btn-default" data-toggle="modal"
										data-target=".modalNewTask">New Task</button>
								</div>
							</div>
						</div>

					</div>
				</div>

			</fieldset>

		</div>

	</div>

</div>